/* modal */

.modal {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-content {
    background-color: white;
    width: 50%;
    max-width: 400px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    font-size: 18px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.modal button{
    background-color: #0c2576;
    border: 0;
    color: #fff;
    padding: 5px;
    font-size: 15px;
}
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}


/* modal-end */
.bgcolor{
    padding: 10px;
    background-color: #234e70;
    color:#fff;
}
.notebox{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:5px;
}
.notebox div{
    background-color: #FBF8BE;
    padding: 5px;
    border-radius: 10px;
    color:#061126;
    position: relative;
    box-shadow: rgba(166, 186, 226, 0.388) 0px 3px 6px,rgba(135, 160, 202, 0.422) 0px 3px 6px;
}
.editbtn,.deletebutton{
    position:absolute;
    top: 0;
    right: 30px;
    
    border: 0;
    background-color: rgba(245, 173, 18, 0);
    font-size: 30px;
    color: #0833bd;
    cursor: pointer;
}
.deletebutton{
    color: #ca2006;
    right: 2px;
}


/***************** register-form ****************/
.registerfrm{

    width: 40%;
    margin: 0 auto;
    display: flex;
flex-direction: column;
font-size: 19px;
margin-top: 100px;
gap: 10px;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 10px;
border-radius: 3px;
background-color: #f4f4f4;

}
.registerfrm button{
    background-color: #061126;
    color: #FBF8BE;
    border: 0;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}

.logoutdiv{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.logoutdiv button{
    background-color:#cbe856 ;
    color: #08043b;
    border: 0;
    border-radius: 3px;
    padding: 5px;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
cursor: pointer;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) { 
    .registerfrm{
        width: 90%;
    }
    .notebox {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
    }
    .editbtn, .deletebutton {
        font-size: 20px;
      }
      

.notebox div p{
    font-size: 12px;
}
.notebox div h4{
    font-size: 13px;
}
.logoutdiv button {
  font-size: 13px;
  }


}

@media screen and (min-device-width: 481px) and (max-device-width: 767px) { 
    .registerfrm{
        width: 90%;
    }
    .notebox {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 5px;
    }

    .editbtn, .deletebutton {
       font-size: 20px;
     }
     .notebox div p{
        font-size: 13px;
    }
    .notebox div h4{
        font-size: 13px;
    }
    .logoutdiv button {
        font-size: 15px;
        }
}